body {
  background-color: rgb(38, 5, 68);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex1 {
  display: flex;
  justify-content: space-between;
}
.img1 {
  width: 200px;
  text-align: center;
}
